{{~#ifObject this~}}
    {{{desc}}}
    {{#if dollar}}
        <a class="dollars">{{dollar}}</a>
    {{/if}}
    {{#unless caption}}
        {{#if reference}}
            <a class="reference" href="{{reference.link}}">
                {{reference.text}}
            </a>
        {{/if}}
        {{#if github}}
            <a class="reference" href="https://github.com/{{github}}">
                github.com/{{github}}
            </a>
            <span id="{{github}}" class="stats"></span>
        {{/if}}
    {{/unless}}
    {{#if status}}
        <span class="status">
            {{status}}
        </span>
    {{/if}}
{{else}}{{{this}}}
{{/ifObject}}