<section class="content">
    {{#each rows}}
        <div class="row">
            <div class="content-cat big-text">
                {{#if @first}}{{../contentType}}{{/if}}
                <p {{#unless @first}}style="margin-top:{{../afterFirstDateMargin}}" {{/unless}}>
                    {{duration}}</p>
            </div>
            <div class="content-text work-listing education-listing">
                <p style="margin-top:
            {{#if @first}}{{../topDist}}
                {{else}}{{../afterFirstTextMargin}}{{/if}}">
                    {{{title}}}</p>

                {{#if caption}}
                    <p class="content-caption">
                        {{caption}}
                        {{#if reference}}
                            <a class="reference" href="{{reference.link}}">
                                {{reference.text}}
                            </a>
                        {{/if}}
                        {{#if tools}}
                            <span class="tools-span">
                                {{#each tools}}<a class="tools">{{{this}}}</a>{{/each}}
                            </span>
                        {{/if}}
                    </p>
                {{/if}}


                <p>
                    {{> content}}
                </p>

                {{#each highlights}}{{> highlight}}{{/each}}
            </div>
        </div>
    {{/each}}
</section>
